
/* ==========================================================================
   background
   ========================================================================== */

.white-background { background-color: #ffffff; }

.yellow-background { background-color: #ffff00; }

.black-background { background-color: #000000; }



/* ==========================================================================
   background
   ========================================================================== */

.white-border { border-color: #cccccc; }

.yellow-border { border-color: #ffff00; }

.black-border { border-color: #0d0d0d; }



/* ==========================================================================
   type
   ========================================================================== */

html, 
body, 
.black {
	color: #000000;
}

$elts: div, a, p, h1, h2, h3, h4, h5, span, input, select;

@each $el in $elts {
	#{$el}.white,
   .white #{$el} { 
      color: #ffffff;
   }

   #{$el}.yellow,
   .yellow #{$el} { 
      color: #ffff00;
   }

   #{$el}.lighter-dark,
   .lighter-dark #{$el} { 
      color: #515151;
   }

   #{$el}.black,
   .black #{$el} { 
      color: #000000;
   }
}

a.white:hover {
   color: #ffffff;
}

a.black:hover {
   color: #000000;
}


/* ==========================================================================
   other
   ========================================================================== */

a, a:hover, a:visited { text-decoration: none; }
a:hover { color: inherit; }