
/* ==========================================================================
   Helpers
   ========================================================================== */

html, body {
  min-width: 500px;
}

textarea,
input {
  -webkit-appearance: none;
  border-radius: 0;
}

* { outline: 0; }
p { margin: 0; }

.button { 
  text-align: center; 
  cursor: pointer; 
  display: block;
}

.container-fluid { padding: 0; }

.relative { position: relative; }
.clickable { cursor: pointer; }
.visibility-hidden { visibility: hidden; }
.on-bottom { position: absolute; bottom: 0; }
.redirect { cursor: pointer; }
.thin { width: 1px; }
.centered { text-align: center; }
.righted { text-align: right; }
.overHidden { overflow: hidden; }
.underlined { text-decoration: underline; }
.lefted { text-align: left; }

.no-style, .no-style li { list-style-type: none; padding: 0; margin: 0; }
.no-padding { padding: 0; }

.margins { padding: 0px 30px; }
.hMargins { padding: 30px 0px; }
.margins.hMargins { padding: 30px; }
.topMargin { margin-top: 30px; }


.externalMargins {
  padding: 60px 35px 120px 35px;
}
.externalMarginsH {
  padding: 60px 0px 120px 0px;
}

.externalMarginsW {
  padding: 0px 35px 0px 35px;
}

.externalMarginsHAlt {
  padding: 60px 35px 60px 35px;
}

.wideMarginsW {
  margin: 0 80px;
}

.realMarginsW {
  margin: 0px 35px 0px 35px;
}

.internMargins {
  padding: 35px;
}

.addBottomMargin {
  margin-bottom: 120px;
}

.addSmBottomMargin {
  margin-bottom: 60px;
}

.goUp {
  margin-top: -70px;
}


.extraBottomPadding,
ul.extraBottomPadding { 
  padding-bottom: 100px; 
}

.wid30{ width: 30%; }
.wid50{ width: 50%; }
.wid60{ width: 60%; }
.wid70{ width: 70%; }
.wid80{ width: 80%; }
.wid90{ width: 90%; }

.rotate-45 { @include rotate(45deg); }
.rotate-135 { @include rotate(135deg); }

.bordered-block { 
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.unbreakable {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.table-simulation {
  display: table;
  text-align: center;
}

.cell-simulation {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.list {
  &, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    border-bottom-style: solid;
    border-bottom-width: 1px;

    &:last-child {
      border-bottom-width: 0;
    }
  }

}

/* helper class */
.cover {
  background-position: center center; 
  background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@-webkit-keyframes rotating {
    from{
      transform:rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to{
      transform:rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
}

@keyframes rotating {
    from{
      transform:rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to{
      transform:rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1.5s linear infinite;
    animation: rotating 1.5s linear infinite;
}

.no-break-inside {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid-column;
}

.back-in-center {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.vertical-centered {
  @include vertical-align;
}

.block-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.all-centered {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.small-separator {
  width: 44px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ==========================================================================
   columns
   ========================================================================== */

.columns2 { @include content-columns(1); }
@media (min-width: 768px) { 
   .columns2 { @include content-columns(2); }
}

.columns3 { @include content-columns(1); }
@media (min-width: 768px) { 
   .columns3 { @include content-columns(2); }
}
@media (min-width: 1200px) { 
   .columns3 { @include content-columns(3); }
}

.columns4 { @include content-columns(1); }
@media (min-width: 768px) { 
   .columns4 { @include content-columns(2); }
}
@media (min-width: 1200px) { 
   .columns4 { @include content-columns(4); }
}


/* ==========================================================================
   Commons
   ========================================================================== */


