
/* ==========================================================================
   background
   ========================================================================== */

.base-background { background-color: #fbfbfb; }

.invert-background { background-color: #1a1a1a; }



/* ==========================================================================
   background
   ========================================================================== */

.base-border { border-color: #1a1a1a; }

.invert-border { border-color: #fbfbfb; }



/* ==========================================================================
   type
   ========================================================================== */

html, 
body, 
p, 
a,
a:hover,
a:visited,
.base-type {
	color: #1a1a1a;
}

$elts: div, a, p, h1, h2, h3, h4, h5, span, input, select;

@each $el in $elts {
	#{$el}.invert-type,
   .invert-type #{$el} { 
      color: #fbfbfb; 
   }

   #{$el}.base-type,
   .base-type #{$el} { 
      color: #1a1a1a;
   }
}

/* ==========================================================================
   other
   ========================================================================== */

a, a:hover, a:visited { text-decoration: none; }