
/* ==========================================================================
   Import mixins
   ========================================================================== */

$bootstrap-sass-asset-helper: false;
@import "vendor/bootstrap/bootstrap";
@import "colors";
@import "fonts";
@import "navbar";
@import "slider";
@import "elements";

/* ==========================================================================
   Commons
   ========================================================================== */
* { outline: 0; }

.button { 
  text-align: center; 
  cursor: pointer; 
  display: block;
}

.container-fluid { padding: 0; }

.relative { position: relative; }
.clickable { cursor: pointer; }
.visibility-hidden { visibility: hidden; }
.on-bottom { position: absolute; bottom: 0; }
.redirect { cursor: pointer; }
.thin { width: 1px; }

ul.no-style, ul.no-style li { list-style-type: none; padding: 0; margin: 0; }

.margins { padding: 0px 30px; }
.hMargins { padding: 30px 0px; }
.margins.hMargins { padding: 30px; }
.topMargin { margin-top: 30px; }

.extraBottomPadding,
ul.extraBottomPadding { 
  padding-bottom: 100px; 
}

.wid30{ width: 30%; }
.wid60{ width: 60%; }
.wid90{ width: 90%; }

.rotate-45 { @include rotate(45deg); }
.rotate-135 { @include rotate(135deg); }

.bordered-block { 
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.unbreakable {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.table-simulation {
  display: table;
  text-align: center;
}

.cell-simulation {
  display: table-cell;
  vertical-align: middle;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
